<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<% @project.dynamic_attributes.each do |attribute| %>
    <p>
      <strong><%= attribute.display_name %></strong>
      <%= attribute.value %>
    </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
